<form [formGroup]="loginForm"
  style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #000;">
  <p-card header="Login"
    [style]="{ width: '400px', borderRadius: '15px', boxShadow: '0 4px 20px rgba(172, 149, 72, 0.4)', boder :'none' }"
    styleClass="p-p-4 bg-black text-white">

    <div class="col-12 mb-3">
      <p-floatLabel>
        <input type="text" pInputText formControlName="name" class="w-full custom-input"
          style="background-color: transparent; color: white; border: none; border-bottom: 2px solid #ac9548b6; font-weight: 600;" />
        <label for="name" style="color: #ac9548b6; font-weight: 600;">Name</label>
      </p-floatLabel>
      <span
        *ngIf="loginForm.controls['name'].hasError('required') && (loginForm.get('name')?.touched || loginForm.controls['name'].dirty)"
        class="block p-error text-xs">
        Name is Required
      </span>
    </div>

    <div class="col-12 mb-3">
      <p-floatLabel>
        <input type="email" pInputText formControlName="emailId" class="w-full custom-input"
          style="background-color: transparent; color: white; border: none; border-bottom: 2px solid #ac9548b6; font-weight: 600;" />
        <label for="emailId" style="color: #ac9548b6; font-weight: 600;">Email</label>
      </p-floatLabel>
      <span
        *ngIf="loginForm.controls['emailId'].hasError('required') && (loginForm.get('emailId')?.touched || loginForm.controls['emailId'].dirty)"
        class="block p-error text-xs">
        Email is Required
      </span>
    </div>

    <div class="col-12 mb-3">
      <p-floatLabel>
        <input type="text" pInputText formControlName="mobileNo" placeholder="00000-00000" mask="00000-00000"
          class="w-full custom-input"
          style="background-color: transparent; color: white; border: none; border-bottom: 2px solid #ac9548b6; font-weight: 600;" />
        <label for="mobileNo" style="color: #ac9548b6; font-weight: 600;">
          Mobile Number
        </label>
      </p-floatLabel>
      <span
        *ngIf="loginForm.controls['mobileNo'].hasError('required') && (loginForm.get('mobileNo')?.touched || loginForm.controls['mobileNo'].dirty)"
        class="block p-error text-xs">Mobile No is Required</span>
      <span *ngIf="loginForm.controls['mobileNo'].hasError('minlength')" class="block p-error text-xs">
        Mobile No must be 10 digits
      </span>
      <span *ngIf="loginForm.controls['mobileNo'].hasError('maxlength')" class="block p-error text-xs">
        Mobile No must be 10 digits
      </span>
      <span *ngIf="loginForm.controls['mobileNo'].hasError('pattern')" class="block p-error text-xs">
        Only numeric values allowed
      </span>
    </div>

    <div class="col-12 mb-3">
      <p-floatLabel>
        <p-dropdown [options]="Role" formControlName="userRole" placeholder="Select User Role" [disabled]="isAdminEmail"
          dropdownIcon="pi pi-chevron-down"
          [style]="{'background-color': 'transparent','color': 'white','border': 'none','border-bottom': '2px solid #ac9548b6','font-weight': '600','width': '100%'}"
          panelStyleClass="custom-role-dropdown-panel">
        </p-dropdown>
        <label for="userRole" style="color: #ac9548b6; font-weight: 600;">User Role</label>
      </p-floatLabel>
      <span
        *ngIf="loginForm.controls['userRole'].hasError('required') && (loginForm.get('userRole')?.touched || loginForm.controls['userRole'].dirty)"
        class="block p-error text-xs">
        User Role is required
      </span>
    </div>

    <div class="col-12 mb-3">
      <p-floatLabel>
        <p-password id="password" formControlName="password" [toggleMask]="true"
          [inputStyle]="{'background-color': 'transparent','color': 'white','border': 'none','border-bottom': '2px solid #ac9548b6','font-weight': '600' }"
          [style]="{ 'width': '100%' }" class="w-full">
        </p-password>
        <label for="password" style="color: #ac9548b6; font-weight: 600;">
          Password
        </label>
      </p-floatLabel>
      <small class="p-error text-xs"
        *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
        Password is required
      </small>
    </div>

    <p-button label="Login" styleClass="custom-button w-full" [disabled]="loginForm.invalid"
      (click)="login(this.loginForm.value)" />
    <div class="login-register-text">
      Not a member...? <a routerLink="/register" class="login-register-link">Register</a>
    </div>
  </p-card>
</form>