<div class="card" style="height: 100%;">
    <p-splitter [panelSizes]="[25, 90 ]" [style]="{ height: '100%' }" styleClass="mb-5">

        <ng-template pTemplate="panel1">
            <div class="col p-3">
                <p-card class="mt-5" header="Filters" [style]="{ width: '100%' }">
                    <div class="grid align-items-end">
                        <div class="col-12 md:col-6">
                            <p-floatLabel>
                                <input type="text" pInputText class="w-full" />
                                <label for="endDate">End Date</label>
                            </p-floatLabel>
                        </div>
                        <div class="col-12 md:col-6">
                            <p-floatLabel>
                                <input type="text" pInputText class="w-full" />
                                <label for="endDate">End Date</label>
                            </p-floatLabel>
                        </div>
                        <div class="col-12">
                            <p-dropdown [options]="Location" optionLabel="title" optionValue="locationId"
                                [appendTo]="'body'" placeholder="Location" />
                        </div>

                        <div class="col-12">
                            <p-dropdown [options]="Location" optionLabel="title" optionValue="locationId"
                                [appendTo]="'body'" placeholder="Location" />
                        </div>

                        <div class="col-12">
                            <p-button label="Search" icon="pi pi-search" styleClass="custom-button w-full">
                            </p-button>
                        </div>
                    </div>
                </p-card>
            </div>
        </ng-template>

        <ng-template pTemplate>
            <div class="grid p-3">
                <ng-container *ngIf="isLoading; else dataLoaded">
                    <div class="grid p-3">
                        <p-card [style]="{ width: '100%', height:'100%'}" class="skeleton-card">
                            <ng-template pTemplate="header">
                                <p-skeleton height="250px" width="355px" class="w-full border-round"></p-skeleton>
                            </ng-template>
                            <p-skeleton width="80%" class="mb-2"></p-skeleton>
                            <br>
                            <p-skeleton width="60%" class="mb-2"></p-skeleton>
                            <br>
                            <p-skeleton width="40%" class="mb-2"></p-skeleton>
                        </p-card>
                    </div>
                </ng-container>

                <ng-template #dataLoaded>
                    <div class="grid">
                        <div class="col-12 md:col-3" *ngFor="let item of SearchCar;let i = index ">
                            <p-card [style]="{ width: '100%' }" styleClass="product-card-custom">
                                <ng-template pTemplate="header">
                                    <img [src]="item.imageUrl" class="searchimg" />
                                </ng-template>
                                <span>Brand :- {{ item.brand }}</span>
                                <p>{{ item.name }}</p>
                                <div class="mt-0 font-semibold text-xl">
                                    {{ item.locationTitle }}
                                </div>
                                <ng-template pTemplate="footer">
                                    <div class="flex gap-3 mt-1">
                                        <p-button label="View Details" class="w-full" styleClass="custom-button w-full"
                                            (click)="View(item.carId)" />
                                    </div>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                </ng-template>
            </div>
        </ng-template>


    </p-splitter>
</div>