<div class="flex justify-content-center align-items-center ">
    <p-card class="w-full sm:w-30rem p-4" styleClass="profile-card">
        <div class="flex flex-column align-items-center text-center gap-2">

            <div class="flex align-items-center justify-content-center border-circle bg-black font-bold" 
            style="width: 100px; height: 100px; font-size: 35px; border: 3px solid #ac9548b6; color: #ac9548b6; border-radius: 50%; box-shadow: 0 0 12px 4px #ac9548b6;">
                {{ userData?.name?.substring(0, 2).toUpperCase() }}
            </div>



            <h4 class="mt-1 mb-1">{{ userData?.emailId }}</h4>

            <div class="text-100 text-600 text-left w-full mt-4">
                <p><strong>Name:</strong> {{ userData?.name }}</p>
                <p><strong>E-mail:</strong> {{ userData?.emailId }}</p>
                <p><strong>Phone:</strong> {{ userData?.mobileNo }}</p>
                <p><strong>Role:</strong> {{ userData?.userRole }}</p>
                <p><strong>Opening Date:</strong> {{ userData?.createdOn | date:'dd MMMM yyyy , hh:mm a' }}</p>
            </div>

            <div class="flex gap-3 mt-4">
                <p-button label="Update Profile" styleClass="custom-button" (onClick)="Update()" [outlined]="true">
                </p-button>
                <p-button label="Delete Account" styleClass="custom-default" (onClick)="Delete(userData?.userId)"
                    [outlined]="true">
                </p-button>
            </div>
        </div>
    </p-card>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>