<h2 class="section-title">Contact Us</h2>

<div class="main-contact-section">
    <div class="contact-wrapper">
        <div class="contact-container">

            <div class="contact-info">
                <h2 class="heading">Contact Information</h2>
                <p class="subtext">Say something to start a live chat !</p>

                <div class="info-group">
                    <div class="info-row">
                        <i class="pi pi-phone"></i>
                        <span>(+971) 54 551 4155</span>
                    </div>

                    <div class="info-row">
                        <i class="pi pi-envelope"></i>
                        <span>{{'info@legendarycarrental.ae'}}</span>
                    </div>

                    <div class="info-row">
                        <i class="pi pi-map-marker"></i>
                        <span>
                            467F+Q4 - plot 25 street 4 - Al Quoz<br />
                            Al Quoz Industrial Area 4 - Dubai
                        </span>
                    </div>
                </div>

                <div class="social-icons">
                    <a href="https://www.instagram.com/_vp_26_" target="_blank"
                        style="text-decoration: none; color: inherit;">
                        <i class="pi pi-instagram"></i>
                    </a>
                    <a href="https://twitter.com/your_username" target="_blank"
                        style="text-decoration: none; color: inherit;">
                        <i class="pi pi-twitter"></i>
                    </a>
                    <a href="https://wa.me/917285838909" target="_blank" style="text-decoration: none; color: inherit;">
                        <i class="pi pi-whatsapp"></i>
                    </a>
                </div>

            </div>

            <div class="contact-form">
                <div class="form-grid">
                    <div class="form-field">
                        <label for="firstName">First Name</label>
                        <input id="firstName" pInputText type="text" placeholder="Enter your first name" />
                    </div>

                    <div class="form-field">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" pInputText type="text" placeholder="Enter your last name" />
                    </div>

                    <div class="form-field">
                        <label for="email">Email</label>
                        <input id="email" pInputText type="email" placeholder="Enter your email address" />
                    </div>

                    <div class="form-field">
                        <label for="phone">Phone</label>
                        <input id="phone" pInputText type="text" placeholder="Enter your phone number" />
                    </div>

                    <div class="form-field full-width">
                        <label for="message">Message</label>
                        <textarea id="message" pInputTextarea rows="5" placeholder="Write your message"></textarea>
                    </div>

                    <div class="form-field">
                        <p-button label="Send Message" styleClass="custom-button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="section-title-location">
    <img src="assets/images/wheel.png" alt="Location Icon" class="location-icon" />
    Location
</h4>
<h2 class="section-title">How to reach our location</h2>


<div class="map-wrapper">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d462416.7127336431!2d55.222701!3d25.114364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f690f0e90fdb9%3A0xb9c0ba33d72d641c!2sLEGENDARY%20CAR%20RENTAL%20LLC!5e0!3m2!1sen!2sus!4v1750845865242!5m2!1sen!2sus"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>