<div class="about-wrapper">
  <div class="p-grid p-nogutter about-section">

    <div class="p-col-12 md:p-col-6 image-container">
      <img src="assets/images/LEU08538-scaled-1.png" alt="Luxury Car" class="about-image" />
    </div>

    <div class="p-col-12 md:p-col-6">
      <h2 class="about-title">SINCE 2014</h2>
      <div class="gold-line"></div>
      <div class="about-text">
        <p>
          Providing Legendary, Sports and Exotic cars since 2010 and are expert in the field. We understand different
          needs
          for different occasions and always strive to provide the best package for our dear customers.
        </p>

        <p>
          Our car's are not only cost effective but also clean, nice and well maintained. Try it for yourself.
        </p>

        <p>
          We are constantly expanding our fleet list with the latest supercars for you. Making sure that the car rental
          is
          as affordable as it can be. We have also provided legendary cars in many movies such as Crazy Rich Asians.
        </p>

        <p>
          We now want to provide legendary cars for rent for you so you can drive and feel how exotic and special it is
          to
          drive a luxury or a sports car on rental with us.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="experience-wrapper">
  <div class="experience-container">
    <div class="experience-left">
      <h2 class="about-title">EXPERIENCE YOU <br>CAN TRUST</h2>
      <div class="gold-line"></div>

      <div class="about-text">
        <p> We understand that renting a legendary car isn’t just about getting from point A to B: it’s about making
          memories and getting away from it all.</p>
        <p>We can help you with that by providing a range of services and amenities that will help your trip go
          smoothly—and help you make memories that will last a lifetime.</p>
      </div>
      <ul class="experience-features">
        <li><i class="pi pi-check icon"></i>Huge fleet of luxury cars for rent at affordable prices</li>
        <li><i class="pi pi-check icon"></i> Highly maintained vehicles for daily, weekly, and monthly rental</li>
        <li><i class="pi pi-check icon"></i> World's top brands from Lamborghini to Ferrari and Rolls Royce</li>
      </ul>
    </div>
    <div class="experience-right">
      <img src="assets/images/DSC03785-scaled1.png" alt="Interior 1">
      <img src="assets/images/DSC04726-scaled1.png" alt="Interior 2">
    </div>

  </div>
</div>